bs4
eventlet
flask
flask-apscheduler
flask-bootstrap4
flask-download-btn
flask-login
flask-socketio
flask-sqlalchemy
flask-worker
gunicorn==18.0.0
imgkit
numpy
pandas
pillow
python-docx
python-dotenv
redis
requests
rq
selenium
sqlalchemy
sqlalchemy-function
sqlalchemy-mutable
sqlalchemy-nav