include src/hemlock/*.html
include src/hemlock/templates/hemlock/*.html
include src/hemlock/templates/hemlock/*.js
include src/hemlock/templates/hemlock/statics/*.html
include src/hemlock/templates/hemlock/statics/*.js
include src/hemlock/templates/hemlock/utils/*.html
include src/hemlock/templates/hemlock/utils/*.js