bs4>=0.0.1
eventlet>=0.25.1
flask>=1.1.1
flask-download-btn>=0.0.21
flask-login>=0.4.1
flask-socketio>=4.2.1
flask-sqlalchemy>=2.4.1
flask-talisman>=0.0.7
flask-worker>=0.0.10
pandas>=1.0.1
python-docx>=0.8.10
redis>=3.3.11
rq>=1.2.0
selenium>=3.141.0
selenium-tools>=0.0.0
sqlalchemy>=1.3.12
sqlalchemy-function>=0.0.9
sqlalchemy-modelid>=0.0.3
sqlalchemy-mutable>=0.0.8
sqlalchemy-mutablesoup>=0.0.9
sqlalchemy-orderingitem>=0.0.5

gunicorn>=20.0.4
psycopg2>=2.8.4