bs4
eventlet
flask
flask-apscheduler
flask-bootstrap4
flask-login
flask-socketio
flask-sqlalchemy
flask-worker
gunicorn==18.0
imgkit
numpy
pandas
pillow
psycopg2
python-docx
redis
requests
rq
selenium
sqlalchemy
sqlalchemy-mutable
sqlalchemy-nav