bs4
eventlet==0.25.1
flask
flask-apscheduler
flask-bootstrap4
flask-download-btn==0.0.16
flask-login
flask-socketio
flask-sqlalchemy
flask-worker==0.0.3
google-cloud-storage
gunicorn==18.0
pandas
pandas-profiling==2.3.0
psycopg2==2.8.4
python-docx
redis
rq==1.1.0
selenium
sqlalchemy
sqlalchemy-function==0.0.4
sqlalchemy-modelid==0.0.1
sqlalchemy-mutable==0.0.6
sqlalchemy-mutablesoup==0.0.3
sqlalchemy-nav==0.0.3
sqlalchemy-orderingitem
