<!-- Default survey template -->

{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ page._css }}
{% endblock %}

{% block scripts %}
{{ page._js }}
{% endblock %}

{% block navbar %}
{% if page.nav is not none %}
    {{ page.nav.render() }}
{% endif %}
{% endblock %}

{% block content %}
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
<form method="POST" class="submit-once col-12 form-margins">
    <page id="{{ page.model_id }}"/>
    {{ page._error }}
    {% if page.part is not none and page.part.meta.get('Test') == '1' %}
        <input type="hidden" name="part_id" value="{{ page.part.id }}"/>
        <input type="hidden" name="part_key" value="{{ page.part._key }}"/>
    {% endif %}
    {% for q in page.questions %}
        {{ q._render() }}
    {% endfor %}
    <br/>
    {% if page._back %}
        {{ page.back_button }}
    {% endif %}
    {% if page._forward %}
        {{ page.forward_button }}
    {% endif %}
    <p style="clear;"><br></p>
</form>
</div>
</div>
{% endblock %}