<div class="form-group question">
    <span class="error-txt" style="color: rgb(114,28,36);"></span>
    <div class="input-group">
        <div class="input-group-prepend"></div>
        <div class="custom-file">
            <input id="{{ q.model_id }}" name="{{ q.model_id }}" type="file" class="custom-file-input">
            <label id="{{ q.model_id }}-label" class="label-txt custom-file-label" for="{{ q.model_id }}"></label>
        </div>
        <div class="input-group-append"></div>
    </div>
</div>