<html>
    <head>
        {{ page.css.render() }}
        {% for q in page.questions %}
            {{ q.css.render() }}
            {% for opt in q.options %}
                {{ opt.css.render() }}
            {% endfor %}
        {% endfor %}

        {{ page.js.render() }}
        {% for q in page.questions %}
            {{ q.js.render() }}
            {% for opt in q.options %}
                {{ opt.js.render() }}
            {% endfor %}
        {% endfor %}
    </head>
    <body>
        {% if page.navbar is not none %}
            {{ page.navbar.render() }}
        {% endif %}

        {{ page.body.render() }}
    </body>
</html>