<!-- Default survey viewing template -->

<html>
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
<form method="POST" class="submit-once col-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" style="text-align:center;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {{ page.question_html }}
    <br/>
    {% if page.back %}
        {{ page.back_button }}
    {% endif %}
    {% if page.forward %}
        {{ page.forward_button }}
    {% endif %}
    <br style="line-height:3;"></br>
</form>   
</div>
</div>
</html>