<!-- Default survey viewing template -->

{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ css }}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block navbar %}
{% if page.nav is not none %}
    {{ page.nav.render() }}
{% endif %}
{% endblock %}

{% block content %}
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
<form method="POST" class="submit-once col-12">
    {% if page.error is not none %}
        <div class="alert alert-danger w-100" style="text-align:center;">
            {{ page.error }}
        </div>
    {% endif %}
    {{ page._question_html }}
    <br/>
    {% if page._back %}
        {{ page.back_button }}
    {% endif %}
    {% if page._forward %}
        {{ page.forward_button }}
    {% endif %}
    <br style="line-height:3;"></br>
</form>
</div>
</div>
{% endblock %}