<!-- Default survey template -->

{% extends 'bootstrap/base.html' %}

{% block styles %}
    {% for css_file in page.css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=css_file) }}">
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
<form method="POST" class="submit-once col-12">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" style="text-align:center;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <page id="{{ page.pid }}"/>
    {{ question_html }}
    <br/>
    {% if page.back %}
        {{ page.back_button }}
    {% endif %}
    {% if page.forward %}
        {{ page.forward_button }}
    {% endif %}
    <br style="line-height:3;"></br>
</form>   
</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for js_file in page.js %}
    <script type="text/javascript" src="{{ url_for('static', filename=js_file) }}"></script>
    {% endfor %}
{% endblock %}