<!-- Default worker template -->

{% extends 'bootstrap/base.html' %}

{% block styles %}
    {% for css_file in worker.css %}
        {% if not css_file.startswith('/') %}
            {% set css_file = url_for('static', filename=css_file) %}
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ css_file }}"/>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        {{ worker.content }}
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% for js_file in worker.js %}
        {% if not js_file.startswith('/') %}
            {% set js_file = url_for('static', filename=js_file) %}
        {% endif %}
        <script type="text/javascript" src="{{ js_file }}"></script>
    {% endfor %}
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var socket = io.connect($SOCKET_URL+"/{{ worker.model_id }}");
        var job_status_url = (
            "{{ url_for('hemlock.check_job_status', job_id=job.get_id()) }}"
        );
        socket.on("connect", function() {
            console.log("Socket connected");
            $.get(job_status_url, function(e) {
                if (e.job_finished) {
                    console.log("Job finished")
                    window.location.replace(
                        "{{ url_for('hemlock.survey') }}"
                    );
                };
            });
        });
        socket.on("job_started", function() {
            console.log("Job started");
        });
        socket.on("job_finished", function() {
            console.log("Job finished");
            window.location.replace(
                "{{ url_for('hemlock.survey') }}"
            );
        });
    });
</script>
{% endblock %}