/* Default css file */

/* Set body and html to viewport width */
body, html {
    height: 100%;
    width: 100%;
}

/* Question div formatting */
div.error {
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    background-color: #f2dede;
    border-color: #ebcccc;
}

/* Choice formatting */
.choice {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    background-clip: padding-box;
}
input:hover + label {
    background-color: lightgray;
}
input:checked + label {
    background-color: darkgray;
}
input[type="checkbox"]:checked:hover + label {
    background-color: #BEBEBE;
}

/* Object alignment */
/* e.g. for use with images */
.left {
    display: block;
    margin-left: 0px;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.right {
    display: block;
    margin-left: auto;
    margin-right: 0px;
}
.fit {
    max-width: 100%;
    max-height: 100vh;
}

/* Video formatting */
/* 16:9 aspect ratio */
.video-wrapper {
    padding-bottom: 56.25%;
    position: relative;
}
.video {
    position: absolute;
    width: 100%;
    height: 100%;
}