<div id="{{ question.hash }}-card" {{ question.html_settings["card"].get_attrs() | safe }}>
    <div class="card-body">
        {% if label is not none or error is not none %}
        {% block label %}
        <label {{ question.html_settings["label"].get_attrs() | safe }} for="{{ question.hash }}">
            {% if error is not none %}
            <div {{ question.html_settings["error"].get_attrs() | safe }}>
                {{ error | safe }}
            </div>
            {% endif %}
            {% if label is not none %}
            {{ label | safe }}
            {% endif %}
        </label>
        {% endblock %}
        {% endif %}
        {% block content %}{% endblock %}
        {% block form_text %}{% endblock %}
    </div>
</div>
