<!--
Download template
by Dillon Bowen
last modified 04/30/2019
-->

{% extends 'bootstrap/base.html' %}

{% block content %}
<div class='container'>
    <div class='alert alert-success' role='alert' style='text-align:center;'>
    Password correct: Download in progress
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
<!-- Compile list of participants to store when updating the datastore -->
<!-- then update datastore -->
$(function() {
    $.get("{{ url_for('hemlock._get_store_lists') }}", function() {
        update_data_store();
        });
    });

<!-- Update datastore in batches -->
<!-- download data when finished -->
function update_data_store() {
    $.getJSON("{{ url_for('hemlock._update_data_store') }}", function(resp) {
        if (resp.finished) {
            location.replace("{{ url_for('hemlock._download', password=password) }}");
            }
        else {
            update_data_store();
            }
        });
    };
</script>
{% endblock %}