<!--
Download template
by Dillon Bowen
last modified 04/30/2019
-->

{% extends 'bootstrap/base.html' %}

{% block content %}
<div class='container'>
    <div class='alert alert-success' role='alert' style='text-align:center;'>
    Password correct: Download in progress
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function(){
    $.get("{{ url_for('hemlock.store_completed') }}", function(){
        $.get("{{ url_for('hemlock._countdown') }}", function(){
            $.get("{{ url_for('hemlock._countdown') }}", function(){
                location.replace("{{url_for('hemlock._download', password=password) }}");
                });
            });
        });
    });
</script>
{% endblock %}