<!--
Download template
by Dillon Bowen
last modified 04/30/2019
-->

{% extends 'bootstrap/base.html' %}

{% block content %}
<div class='container'>
    <div class='alert alert-success' role='alert' style='text-align:center;'>
    Password correct: Download in progress
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function record_incomplete() {
    $.getJSON("{{ url_for('hemlock._countdown') }}", function(resp) {
        if (!resp.finished) {
            record_incomplete();
        }
    });
}

$(record_incomplete());
<!-- $(function(){ -->
    <!-- $.get("{{ url_for('hemlock.store_completed') }}", function(){ -->
        <!-- $.getJSON("{{ url_for('hemlock._countdown') }}", function(resp){ -->
            <!-- var val = resp.val; -->
            <!-- if (val) { -->
                <!-- alert('val is true') -->
            <!-- } else { -->
                <!-- alert('val is false') -->
            <!-- } -->
            <!-- location.replace("{{ url_for('hemlock._download', password=password) }}"); -->
            <!-- }); -->
        <!-- }); -->
    <!-- }); -->
</script>
{% endblock %}