<!--
Page template
by Dillon Bowen
last modified 02/27/2019
-->

{% extends 'bootstrap/base.html' %}

<!--
Credit to rybo111 for a version of this script
https://stackoverflow.com/questions/5445431/jquery-disable-submit-button-on-form-submission
Prevents multiple form submissions
-->
{% block scripts %}
{{ super() }}
<script>
$('form.submit-once').submit(function(e){
  if( $(this).hasClass('form-submitted') ){
    e.preventDefault();
    return;
  }
  $(this).addClass('form-submitted');
  $("[name='direction']").html('Loading');
});
</script>
{% endblock %}

{% block content %}
<div class='container'>
    <form method="post" class="submit-once" novalidate>
        {{ page }}
    </form>
</div>
{% endblock %}