<!--
Page template
by Dillon Bowen
last modified 07/27/2019
-->

{% extends 'bootstrap/base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.min.css') }}">
{% endblock %}

{% block content %}
<div class="container h-100">
<div class="row h-100 justify-content-center align-items-center">
    <form method="POST" class="submit-once col-12">
    {{ page }}
    </form>   
</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/default.min.js') }}"></script>
{% endblock %}